name: Build

on:
  push:
    branches:
      - main
      - ci

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install LLVM
        uses: ./.github/actions/install-llvm-windows
        with:
          llvm_version: "21.1.8"

      - name: Build floc
        shell: pwsh
        run: |
          cargo build --release --bin=floc
